.home-contact{
    position: relative;
    justify-content: center;
    text-align: start;
    background-image: url(../../../public/2.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
background-blend-mode: darken;
}
.contact{
    
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.home-contact .contaner{
    background-color:#000000a8;
position: absolute;
width: 70%;
height: 70%;
}



.home-contact .img{
    width: 100%;
height: 100vh;
text-align: center;
background-color:#0000006e;
}

.header-contact{
    color:white;
position: absolute;
left: 2px;
}
.header-contact h2 , h6{
    font-weight: bold;
}
.details{
    
display: grid;
grid-template-columns: repeat(10 ,1fr);
grid-template-rows:  repeat(1 ,1fr);
gap: 5px;

    }
.home-contact .box{
    background-color:    #ffffff6b;
    position: relative;
    z-index: 9999999;
    width: 100%;
    height: 100%;
    margin: 2px;
    text-align: center;
    top: 100px;
    padding: 50px 0px 0px 0px;
    
}
.home-contact .box1{
    grid-row: 1 /span 1;
grid-column: 1 /span 5;
}.home-contact .box2{
    grid-row: 1 /span 1;
grid-column: 6 /span 5;
}
.home-contact .box3{
    grid-row: 2 /span 1;
grid-column: 1 /span 5
}
.home-contact .box4{
    grid-row: 2 /span 1;
    grid-column: 6 /span 5;
}
.home-contact .box .email{
    font-size: medium;
}
.home-contact .box h2{
    font-weight: bold;
color:
#ffffff87;
font-size:large;
}
@media (max-width:600px) {
    

.home-contact .box1{
    grid-row: 1 /span 1;
    grid-column: 1 /span 10;
}
.home-contact .box2 {
    grid-row: 2 /span 1;
    grid-column: 1 /span 10;
}

.home-contact .box2 {
    grid-row: 3 /span 1;
    grid-column: 1 /span 10;
}
}